      <!-- 2nd Card: Average Order Value -->
      <mat-card class="dashboard-card">
        <mat-card-header>
          <div style="display: flex; align-items: center;">
            <mat-icon class="dashboard-icon outlined-icon" mat-card-avatar>price_change</mat-icon>
            <h1 style="margin-left: 10px;">$465</h1>
          </div>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <p style="text-align: center;">Average Order Value</p>
          <p class="dashboard-decrease">-25.44% <mat-icon>arrow_downward</mat-icon> <span class="_p">since last month</span> </p>
        </mat-card-content>
      </mat-card>