<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>Products</mat-card-title>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" class="new-product-button" type="button" fxFlex="auto" (click)="addNew()">
        <mat-icon>add_circle_outline</mat-icon> New Product
      </button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
          </mat-form-field>
        </div>
      </div>
      <table mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let row">{{row.price}}</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let row">{{row.description}}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div [hidden]="isTableHasData" class="center-message" style="text-align: center; padding: 20px;">
        No Data available.
      </div>
      <mat-paginator #paginator
          [length]="dataSource.data.length"
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 20]"
          aria-label="Select page">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>

